@model IEnumerable<MTT.ViewModels.JoinDateGroup>
@{
    ViewBag.Title = "Player Statistics";
}
<h2>Player Statistics</h2>
<table>
    <tr>
        <th>
            Join Date
        </th>
        <th>
            Players
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JoinDate)
            </td>
            <td>
                @item.PlayerCount
            </td>
        </tr>
    }
</table>