@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Meet The Teams</h1>
    <p class="lead">Here you will get the whole information about the League of Legends pro Teams.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
